body {
  margin: 0;
  background: rgb(33, 8, 34);
  color: rgb(235, 201, 235);
  font-size: 30px;
  margin: 35px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: rgb(214, 30, 214);
  color: rgb(218, 206, 206);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  font-size: medium;
  text-decoration: none;
  box-decoration-break: unset;
  border-style: hidden;
  /* Outline sagrada para tirar a seleção em volta do botão, negocio feio de deixar! */
  outline: none;
}